# Ignore Git history 
.git
.gitignore

# Ignore Virtual Env 
venv
env

# Ignore Secrets
.env

# Ignore Cache and Bytecode
__pycache__
*.pyc
.pytest_cache

# Ignore DB Data Volume
postgres_data